body{
  background-color: black;
  margin: 0px;
}
.header{
  height: 1085px;
  width: 100%;
}
.bodyshape{
  /* background-color: blueviolet; */
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodyshape h3{
  margin: 0px;

}
.bodyshape p{
  margin: 0px;
  /* Unleash your inner athlete */

width: 143px;
height: 12px;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */
text-align: center;



}
nav{
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}
.links{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.links a{
  margin: 0px 20px;
  text-decoration: none;
  color: #FFFFFF;
}
.pesaiz{
  background: url(/images/pesaiz.svg);
  height: 30px;
  width: 30px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 5px;

}
.pesader{
  background: url(/images/pesader.svg);
  height: 30px;
  width: 30px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 5px;
}
.bodyh3{
  display: flex;
  
}


.baner{
  background: url(/images/baner.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
}
.baner-h1{
  color: #FFFFFF;


}
.baner-p{
  color: #FFFFFF;


}
.baner-btn{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.content-baner{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 56%, rgba(57,57,57,1) 100%);
  /* background-color: rgb(134, 134, 29); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 531px;
  height: 500px;
}
.title{
  /* background-color: blue; */
  color: #FFFFFF;
  margin:0px;
  height: 120px;
  width: 1200px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  /* padding-left: 70px; */

}

.colortitle{
  color: #FF921B;
}
.catfitness{
  /* background-color: #FF921B; */
  height: 250px;
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.catfitness p{
  /* Weight loss can have causes that aren't due to underlying disease. Examples include dieting, exercise, malnutrition or lack of access to food. */

  /* position: absolute; */
  width: 257px;
  height: 12px;
  left: 222px;
  top: 1387px;

  font-family: 'Lucida Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  text-align: center;

  color: rgba(255, 255, 255, 0.5);


}


.categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid transparent; /* Sin borde para el contenedor padre */
  width: 1107px;
  height: 500px;

}
.item {
  /* background-color: lightblue; */
  /* padding: 20px; */
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #FF921B;
}
.categorias > .item:nth-child(3n+1) { /* Primera columna */
  border-left: none;
}
.categorias > .item:nth-child(3n) { /* Tercera columna */
  border-right: none;
}
.categorias > .item:nth-child(-n+3) { /* Primera fila */
  border-top: none;
}
.categorias > .item:nth-last-child(-n+3) { /* Última fila */
  border-bottom: none;
}
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Plan{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 56%, rgba(57,57,57,1) 100%);
  color: #FFFFFF;
  width: 279px;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cajitas2{
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.btn{
  background: rgb(246,104,68);
  background: linear-gradient(72deg, rgba(246,104,68,1) 0%, rgba(255,146,27,1) 100%);
  padding: 15px 20px;
  border: none;
  /* margin-right: 10px; */
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5px; */
}
.btn-border{
  
  background:black;
  border:rgb(255,146,27) 2px solid;
  /* border:linear-gradient(72deg, rgba(246,104,68,1) 0%, rgba(255,146,27,1) 100%); */
  padding: 15px 30px;
  
}
.iconplay{
  background: url(/images/iconplay.svg);
  height: 30px;
  width: 30px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 5px;
}
.fitnessicon{
  background: url(/images/weight-loss.svg);
  height: 60px;
  width: 60px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 5px;

}



